.profile-header {
  height: 350px;
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
}
