form {
  margin: 10px 0;
}

.new-tweet {
  margin: 20px 0;
  padding: 0 10px;
}

div.text-area {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
}

/* label */
.tweet-label {
  width: 100%;
  padding: 8px 0;
}

/* textarea */
textarea {
  min-height: 24px;
  background-color: #f4f1ec;
}

.tweet-text {
  outline: none;
  width: 100%;
  margin-bottom: 5px;
  border: none;
  font-size: 18px;

  font-weight: bold;
}

/* submit button and char counter */
.sub-and-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

button {
  background-color: rgba(133, 0, 113, 1);
  border: 2px solid rgba(133, 0, 113, 1);
  color: #fff;
  font-weight: 400;
  outline: none;
  padding: 4px;
  font-size: 18px;
  border-radius: 4px;
}

button:hover {
  border: 2px solid rgba(209, 117, 191, 1);
}
