#column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

article {
  margin: 15px 0;
  border: 2px solid black;
  box-shadow: 0;
  transition: box-shadow 100ms;
}
article:hover {
  box-shadow: 8px 10px 10px rgba(113, 0, 113, 0.2);
}
article .padding-wrapper {
  padding: 10px;
}
article .tweet-footer,
article .tweet-header {
  margin: 0 5px;
}
article .tweet-header {
  display: flex;
  justify-content: space-between;
  height: auto;
}
article .tweet-header div {
  display: flex;
  margin: 8px 0;
}
article .tweet-header div img {
  height: 64px;
  width: 60px;
}
article .tweet-header p {
  padding-left: 10px;
}
article .handle {
  color: rgba(133, 0, 113, 0.5);
}
article .tweet-body {
  border-bottom: 2px solid black;
  padding: 10px 0;
  margin: 5px 0;
  font-weight: bold;
}
article .tweet-body p {
  margin: 0 8px;
  padding: 8px 0;
  word-break: break-all;
}
article .tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  font-weight: bold;
}
article .tweet-footer p {
  font-size: 14px;
}
article .tweet-footer .icons {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
article .tweet-footer .icons i {
  margin: 0 5px;
  color: #850071;
}
article .tweet-footer .icons i:hover {
  color: #d175bf;
}

/* MEDIA QUERIES */
